<ion-view class="main-menu" hide-nav-bar="true">
  <ion-content>
    <div class="grid2x2">
      <div class="box" ng-click="alert()">
        <i class="icon ion-clipboard"></i>
        <div>INICIÁ TUS TRÁMITES</div>
      </div>
      <div class="box"></div>
      <div class="box" ng-click="alert()">
        <i class="icon ion-chatbubbles"></i>
        <div>CHATEÁ CON NOSOTROS</div>
      </div>
      <div class="box" ui-sref="complaints.list">
        <i class="icon ion-alert-circled"></i>
        <div>HACÉ TU RECLAMO</div>
      </div>
      <div class="box" ng-click="alert()">
        <i class="icon ion-calculator"></i>
        <div>PAGÁ TUS IMPUESTOS</div>
      </div>
      <div class="box" ng-click="alert()">
        <i class="icon ion-shuffle"></i>
        <div>SERVICIOS</div>
      </div>
      <div class="box" ng-click="alert()">
        <i class="icon ion-map"></i>
        <div>MAPAS</div>
      </div>
      <div class="box" ng-click="alert()">
        <i class="icon ion-ios-people"></i>
        <div>FOROS</div>
      </div>
      <div class="box" ng-click="alert()">
        <i class="icon ion-paper-airplane"></i>
        <div>DEJANOS TU MENSAJE</div>
      </div>
      <div class="box" ng-click="alert()">
        <i class="icon ion-film-marker"></i>
        <div>AGENDA CULTURAL</div>
      </div>
      <div class="box"></div>
      <div class="box" ng-click="alert()">
        <i class="icon ion-social-rss"></i>
        <div>INFORMATE</div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-positive">
    <div class="center title">
      <img style="width: 25%; margin-bottom: 5%;" src="img/logo-godoycruz.png">
    </div>
  </ion-footer-bar>
</ion-view>
