<ion-modal-view class="new-complaint">
  <ion-content padding="true">
    <button class="button button-clear icon ion-android-close" ng-click="closeModal()"></button>
    <div class="list">
      <label class="item item-input">
        <textarea placeholder="¿Qué está pasando?" msd-elastic="\n"
        ng-model="complaint.text" autofocus="true"></textarea>
      </label>
      <img ng-if="complaint.imageSrc" ng-src="{{complaint.imageSrc}}">
      <div class="item item-input">
        <i class="icon ion-location"></i>Maipú, Argentina
      </div>
    </div>
    <div class="buttons">
      <button style="margin-left: 5px;" class="button icon ion-camera" ng-click="takePicture()"></button>
      <button style="float: right; margin-right: 5px;" class="button button-positive" ng-click="addComplaint(complaint)">Reclamar</button>
    </div>
  </ion-content>
</ion-modal-view>
