<ion-view>
  <ion-nav-title class="complaints header">
    <div class="center">
      <button class="button icon ion-speakerphone"></button>
    </div>
  </ion-nav-title>
  <ion-content padding="true">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Contraseña" ng-model="user.password">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="login(user)">Iniciar sesión</button>
  </ion-content>
</ion-view>
