<ion-view>
  <ion-nav-title class="complaints header">
    <div class="center">
      <button class="button icon ion-speakerphone" ui-sref="menu"></button>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear icon ion-android-more-vertical" ui-sref="account"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <div ng-repeat="complaint in complaints | orderBy:'-date'">
      <div class="list card">
        <div class="item item-avatar">
          <img ng-src="{{complaint.userProfileImage}}">
          <h2>{{complaint.username}}</h2>
          <small>{{complaint.date|date:"dd/MM/yyyy h:mma"}}</small>
          <div ng-if="complaint.latitude && complaint.longitude">
            <i class="icon ion-location"></i>
            <reverse-geocode style="display: inline-block" lat="{{complaint.latitude}}" lng="{{complaint.longitude}}" />
          </div>
          <hr />
          <div>{{complaint.text}}</div>
        </div>
        <div ng-if="complaint.imageSrc" class="item item-image">
          <img ng-src="{{complaint.imageSrc}}">
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="row buttons">
      <button class="col button icon ion-compose" ui-sref="^.new"></button>
    </div>
  </ion-footer-bar>
</ion-view>
